:root {
    --background-color: white;
    --text-color: black;
    --padding: 0.3rem;
}

@font-face {
    font-family: 'Univers Bold';
    src: url('assets/Univers-Bold.otf');
}

@font-face {
    font-family: 'Univers Regular';
    src: url('assets/Univers.otf');
}

@font-face {
    font-family: 'Minion Pro Medium';
    src: url('assets/Minion\ Pro\ Medium.ttf');
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: var(--padding);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;

    position: sticky;
    top:0;
    padding: 0.5rem;
    box-shadow: 010px 5px 10px lightgrey;
    width: 99%;

    font-family: 'Univers Regular';
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.wrapper div {
    padding: 0.5rem;
    border-radius: 0px;
    border: solid 1px black;
}

.socialShare {
    font-family: 'Minion Pro Medium';
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    text-align: center;
}

.allSides {
    font-family: 'Univers Bold';
    color: var(--text-color);
    font-size: 3.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    animation: drop-in 1s ease 200ms backwards;
}

.ofMe {
    font-family: 'Univers Bold';
    color: var(--text-color);
    font-size: 3.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    animation: drop-in 1s ease 200ms backwards;
}

.ofMe .eventType {
    font-family: Minion Pro Medium;
    font-size: 0.6rem;
    color: var(--text-color);
    vertical-align: text-top;
    display: flex;
    text-align: center;
    animation: drop-in 1s ease 200ms backwards;
}

.navBottom {
    font-family: 'Minion Pro Medium';
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    position: fixed;
    bottom: 0;
    left: 0;

    background-color: var(--background-color);
    box-shadow: 0px -5px 10px lightgrey;
    
}

.gabarLogo {
   width: 100%
}

.logoLink {
    width: 15%;
}

.gallery {
    text-align: right;
}

.curatorial {
    border: solid 1px transparent;
    padding: 1rem;
    
}

.curatorialNote {
    font-family: 'Univers Bold';
    font-size: 1.5rem;
    display:flex;
    justify-content: left;
    margin-bottom: 1.5rem;
    animation: drop-in-curatorial 1s ease 800ms backwards;
}

.curatorialBody {
    display:flex;
    text-align: left;
    animation: drop-in-curatorial 1s ease 800ms backwards;
}

.bios {
    margin-top: 1.2rem;
    border: solid 1px transparent;
    padding: 1rem;
}

.artistBiosTitle {
    font-family: 'Univers Bold';
    font-size: 1.5rem;
    display:flex;
    justify-content: left;
    margin-bottom: 1.5rem;
}

.artistName {
    font-family: 'Univers Bold';
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.artistSocials {
    font-family: 'Univers Regular';
    font-size: 1rem;
    margin-bottom: 1rem;
}

.bioText {
    margin-bottom: 1.7rem;
}


.backToTop {
    display: flex;
    justify-content: center;
}

.button {
    padding: 0.5rem;
    border-radius: 0px;
    border: solid 1px black;
    font-family: 'Univers Regular';
    color:black;
    font-size: 0.7rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    width: max-content;
}

@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-20px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}
@keyframes drop-in-curatorial {
    from {
     opacity: 0;
     transform: translateY(-20px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}